/* 公共类 */
.component-relative {
  position: relative;
}

.radius-2 {
  border-radius: 0.02rem;
}


// btn
.icon-btn {
  display: flex;
  .iconfont {
    display: inline-block;
    margin-right: .05rem;
  }
}

// select
.form-select:not(.ant-select-customize-input) 
  .ant-select-selector {
    background-color: transparent;
    border-color: rgba(255,255,255,.2);
    border-radius: .04rem;
  }
