/* 覆盖antd */
.ant-btn,
.ant-input {
  border-radius: 0.04rem !important;
}
.ant-layout {
  height: 100vh;
}

// btn
.icon-btn {
  display: flex;
  .iconfont {
    display: inline-block;
    margin-right: .05rem;
  }
}

/* layout-header */
.ant-layout-header {
  display: flex;
  .ant-menu {
    flex: 1;
    font-size: .15rem;
  }
}
// content
.ant-layout-content {
  display: flex;
  flex-direction: column;
  padding: .25rem;
}

// 导航菜单
.ant-menu-vertical.ant-menu-sub{
  min-width: 80px
}

// 日期组件
.ant-picker-panel-container {
  background: #181c32;
}

// input
.login-input {
  background-color: #0F3265;
  border-color: #0F3265;
}
.form-input,
.form-input .ant-input
 {
  background-color: transparent;
  border-color: rgba(255,255,255,.2);
}

// select
.form-select:not(.ant-select-customize-input) 
  .ant-select-selector {
    background-color: transparent;
    border-color: rgba(255,255,255,.2);
  }

// upload
.form-upload {
  width: 100%;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: .04rem;
  border: 1px solid rgba(255,255,255,.2);
  // overflow: hidden;
  .ant-upload {
    width: 100%;
  }
  .ant-input {
    cursor: pointer;
    caret-color: transparent;
  }
  .ant-upload-list {
    display: none;
  }
}


// 表格 table
.ant-table {
  color: #A1ACBB;
}
.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}
.ant-table-cell {
  white-space: nowrap;
}
.ant-empty-img-simple-path {
  fill: #181c32;
}

// modal 里的table
.template-table {
  .ant-table.ant-table-small thead > tr > th,
  .ant-table {
    background: transparent;
  }
  .ant-table tbody > tr > td,
  .ant-table.ant-table-small thead > tr > th {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }
  .ant-table tbody > tr:last-child > td {
    border-bottom: 0;
  }
  .ant-table.ant-table-bordered .ant-table-container {
    border: 1px solid rgba(255, 255, 255, .1);
  }
  .ant-table tbody > tr.ant-table-row:hover > td{
    background: transparent;
  }
  .ant-table-thead > tr > th,
  .ant-table {
    color: rgba(255, 255, 255, .3);
  }
  
}






// checkbox
.ant-checkbox-inner {
  border-color: #778CA2;
}


// 分页
.ant-pagination-item {
  border-color: #222948;
}
.ant-pagination-item-active {
  border-color: #978CF5;
}
.ant-pagination-prev .ant-pagination-item-link, 
.ant-pagination-next .ant-pagination-item-link {
  border-color: #222948;
  background: #222948;
}
.ant-pagination-disabled{
  
  .ant-pagination-item-link:hover {
    border-color: #222948;
  }
}

// form 
.ant-form-item-label > label {
  padding-right: .04rem;
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  position: absolute;
  right: 0;
}


// message
.ant-message-custom-content {
  color: #fff;
}