/* 覆盖antd */
.ant-btn,
.ant-input {
  border-radius: 0.04rem !important;
}
.ant-layout {
  height: 100vh;
}

/* layout-header */
.ant-layout-header {
  display: flex;
  .ant-menu {
    flex: 1;
  }
}
// content
.ant-layout-content {
  display: flex;
  flex-direction: column;
  padding: .25rem;
}

// 导航菜单
.ant-menu-vertical.ant-menu-sub{
  min-width: 80px
}

