@font-face {
  font-family: "iconfont"; /* Project id 2537138 */
  src: url('iconfont.woff2?t=1627983745879') format('woff2'),
       url('iconfont.woff?t=1627983745879') format('woff'),
       url('iconfont.ttf?t=1627983745879') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsousuo1:before {
  content: "\e63d";
}

.iconshangzhang:before {
  content: "\e610";
}

.iconxiala1:before {
  content: "\e65c";
}

.icon2fanhui:before {
  content: "\e601";
}

.iconduigou:before {
  content: "\e640";
}

.icontupian:before {
  content: "\e650";
}

.iconshipinbofangyingpian:before {
  content: "\e78f";
}

.icontupian1:before {
  content: "\e7ed";
}

.iconyinpin:before {
  content: "\e65a";
}

.iconyinpin1:before {
  content: "\e619";
}

.icon-:before {
  content: "\e623";
}

.iconwenjian:before {
  content: "\e61f";
}

.iconlianjie:before {
  content: "\e645";
}

.iconyuyin:before {
  content: "\e6cc";
}

.iconWPS:before {
  content: "\e607";
}

.iconwenben:before {
  content: "\e602";
}

.iconhanhan-01-01:before {
  content: "\e694";
}

.iconicon-test:before {
  content: "\e61e";
}

.iconchangyongtubiao-fuben-56:before {
  content: "\e60e";
}

.icondaochu:before {
  content: "\e63e";
}

.iconxinjian:before {
  content: "\e612";
}

.iconxiajiang:before {
  content: "\e61d";
}

